#create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
input::placeholder {
  text-align: center;
}

input[type='text'] {
  background-color: var(--field-color);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
}

textarea {
  background-color: var(--field-color);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
  resize: none;
}

#notes {
  height: 100px;
}

#create-header {
  text-align: center;
  color: var(--main-text-color);
  margin-left: auto;
  margin-right: auto;
}

#submit-btn {
  width: 50%;
  height: 5vh;
  margin: 50px;
  transition: 0.2s;
}

#submit-btn:hover {
  width: 50%;
  height: 5vh;
  margin: 50px;
  transition: 0.2s;
  background-color: green;
  color: white;
  border: 2px solid white;
}

#image-url-wrapper {
  border: 2px solid white;
  width: 30%;
  height: 4vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: 0.2s;
  border-radius: 20px;
}
#image-url-wrapper:hover {
  border-radius: 20px;

  border: 2px solid white;
  width: 30%;
  height: 4vh;
  color: black;
  background-color: aquamarine;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 450px) {
  #create-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--main-text-color);
    border: 2px solid green;
  }
}
