#reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.explanatory-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
